# requirements.txt

# Core Data Science and Machine Learning
pandas
numpy
scikit-learn

# Image Processing
opencv-python-headless
scikit-image
tqdm

# Handling Class Imbalance
imbalanced-learn

# Optional but Recommended for Visualization/Plotting
matplotlib
seaborn
