# Install all with:
# pip install -r requirements.txt

# Math and data
numpy          # math with arrays
pandas         # work with tables and data
scipy          # extra math tools

# Charts and plots
matplotlib     # draw graphs and images

# Image processing
opencv-python  # read and edit images
scikit-image   # advanced image tools (e.g. filters, masks)

# Machine learning
scikit-learn   # ML models and tools (like KMeans, classifiers)

# Progress bar
tqdm           # show progress in loops
